{% extends 'cmsplus/admin/clipboard_base.html' %}
{% load i18n %}

{% block style %}
  <style>
    .clipboard-import textarea {
      width: 100%;
      height: 70%
    }
    .text-success {
      color: darkgreen;
      font-weight: bold;
    }
    .error-text {
      color: red;
      font-weight: bold;
    }
  </style>
{% endblock style %}

{% block content %}
  <form action="" method="post" class="clipboard-import">
    {% csrf_token %}
    {% for error in errors %}
      <p class="error-text">{{ error }}</p>
    {% endfor %}

    {% if not request.POST or not success %}
      <textarea name="json_data"></textarea>

      <small>{% trans 'Submitting will clear the current clipboard' %}</small>
      <button type="submit" class="cms-btn">{% trans 'Submit' %}</button>
    {% else %}
      <h3 class="text-success">{% blocktrans with p_length=plugins|length %}Successfully imported {{ p_length }} Plugins{% endblocktrans %}</h3>
      <h1>{% trans 'Your clipboard was updated! Please refresh page to refresh your clipboard!' %}</h1>
      <ul>
        {% for plugin in plugins %}
          <li>{{ plugin }}</li>
        {% endfor %}
      </ul>
    {% endif %}

  </form>
{% endblock content %}