body {
    padding-bottom: 8rem;
}

.cmsplus-icon-none {
    padding: .2rem 1rem;
    background-color: lightgray;
}

button.field-plugin-icon-select {
    margin: 0.1rem;
    display: inline-block;

    padding: 0.3rem !important;
    border: none !important;
}

.highlight-selected-icon {
    width: 100%;
    background: white;
    text-align: center;
    padding: 1rem;
    max-height: 8rem;
}
.highlight-selected-icon > i {
    font-size: 4rem;
}