body {
    padding-bottom: 8rem;
}

button.field-plugin-icon-select {
    margin: 0.1rem;
    display: inline-block;
}

.highlight-selected-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    padding: 1rem;
    max-height: 8rem;
    border-top: solid 1px black;
}
.highlight-selected-icon > i {
    font-size: 4rem;
}